<section class="phx-hero">
  <h1><%= gettext "Welcome to %{name}!", name: "The End" %></h1>
  <p>For this I created a Zipapi API and implemented it in the Developers controller.</p>
  <p>It's nothing fancy but, does what is requied.  I also added a link to the developers page on the top right along with a seeded 20 developers.</p>
</section>
